@charset "UTF-8";
/* ===============================================
# 装飾
=============================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  color: #021c1e;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  vertical-align: top;
  border-style: none;
}

a {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

a:hover {
  text-decoration-color: transparent;
}

a:focus,
*:focus {
  outline: none;
}

a,
a:visited {
  color: inherit;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  display: block;
}

fieldset {
  margin: 0;
  border: none;
}

legend {
  display: none;
}

:root {
  overflow-x: hidden;
  background-color: #1c86bf;
}

.l_container {
  padding-top: 55px;
}
@media (max-width: 999px) {
  .l_container {
    padding-top: 55px;
  }
}

.l_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 999px) {
  .l_header {
    height: 70px;
  }
}
@media (min-width: 1000px) {
  .l_header {
    margin: 0 auto;
  }
}
.l_header a {
  text-decoration: none;
}
.l_header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (min-width: 1000px) {
  .l_header__inner {
    padding: 0;
  }
}
.l_header__logo {
  font-size: 80px;
  padding: 10px 0 0 1.5rem;
  border: 2px solid #021c1e;
  border-radius: 20px;
  border-left: 2px solid #021c1e;
  border-right: 1px solid #021c1e;
  background-color: #85ff59;
  border-radius: 0px 0px 20px 20px;
}
.l_header .l_gnav {
  width: 100%;
  height: 100%;
}
.l_header .l_gnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l_header .l_gnav__list img {
  width: 50px;
}
.l_header .l_gnav__item {
  display: inline-block;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #021c1e;
  border-radius: 20px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
}
.l_header .l_gnav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  .l_header .l_gnav__item:hover {
    border-radius: 0px;
  }
}
.l_header .l_gnav__item:nth-child(1) {
  background-color: #85ff59;
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
}
.l_header .l_gnav__item:nth-child(2) {
  background-color: #36E193;
}
.l_header .l_gnav__item:nth-child(3) {
  background-color: #0FAA4D;
}
.l_header .l_gnav__item:nth-child(4) {
  background-color: #006D4D;
}
.l_header .l_gnav__item:nth-child(5) {
  background-color: #C1D8AC;
}

.l_breadcrumb {
  padding: 2rem 1rem 1.5rem;
  background-color: #85ff59;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  .l_breadcrumb {
    padding: 2rem 1rem;
  }
}
.l_breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.l_breadcrumb__item {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Lato", sans-serif;
  margin-top: 6px;
  position: relative;
}
.l_breadcrumb__item:not(:last-child)::after {
  content: "/";
  margin-left: 0.5em;
  color: #000;
}
.l_breadcrumb__item a {
  text-decoration: none;
}
.l_breadcrumb__item a:hover {
  opacity: 0.5;
}
.l_breadcrumb__item strong {
  line-height: 1;
}

.l_footer {
  background-color: #85ff59;
  border-top: 1px solid;
}
.l_footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .l_footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.l_footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1000px) {
  .l_footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.l_footer__navBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  padding: 1rem 3vw;
}
@media (min-width: 1000px) {
  .l_footer__navBody {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.l_footer__navBody a {
  text-decoration: none;
}
.l_footer__navName {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #1c86bf;
  margin-bottom: 0.5rem;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  width: 10em;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe14c;
}
.l_footer__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1000px) {
  .l_footer__navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1vw;
  }
}
.l_footer__navItem {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  background-color: #C1D8AC;
  white-space: nowrap;
}
@media (min-width: 1000px) {
  .l_footer__navItem + .l_footer__navItem {
    margin-top: 8px;
  }
}
.l_footer__navItem:nth-child(2) {
  background-color: #36E193;
}
.l_footer__navItem:nth-child(3) {
  background-color: #0FAA4D;
}
@media (max-width: 719px) {
  .l_footer__navItem {
    padding: 1rem 3rem;
  }
}
@media (min-width: 1000px) {
  .l_footer__navItem:hover {
    background-color: #ef7096;
    font-weight: bold;
  }
}
.l_footer__copy {
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  font-size: 10px;
  font-size: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe14c;
}

.page,
.archive,
.about-page {
  width: 100vw;
}
.page .l_header__logo,
.archive .l_header__logo,
.about-page .l_header__logo {
  border-radius: 0px;
  border-bottom: 0px;
}
.page .l_breadcrumb,
.archive .l_breadcrumb,
.about-page .l_breadcrumb {
  border-top: 0px;
  padding-top: 0;
  border-radius: 0px 0px 20px 20px;
}

/* ===============================================
# キービジュアル
=============================================== */
.c_kv {
  overflow: hidden;
  width: 98.5vw;
  position: relative;
  border: 2px solid #021c1e;
  border-radius: 20px;
  margin: 0 auto;
  max-height: 700px;
}
.c_kv__inner {
  width: 100vw;
}
@media (min-width: 1000px) {
  .c_kv__inner {
    width: 99vw;
    margin: 0 auto;
  }
}
.c_kv__inner img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.c_kv .swiper-container {
  width: 99vw;
}
.c_kv .swiper-container .swiper-slide {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: inherit;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .c_kv .swiper-container .swiper-slide {
    min-width: inherit;
  }
}
.c_kv .swiper-container .swiper-slide picture {
  display: block;
  width: 100%;
  height: 100%;
}
.c_kv .swiper-container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.c_kv .swiper-container .swiper-pagination {
  bottom: 0px;
  position: absolute;
}
.c_kv .swiper-container .swiper-button-white {
  width: 50px;
  height: 50px;
  background: #000;
}
.c_kv .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 1;
}
.c_kv .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #85ff59;
}

/* ===============================================
# セクション
=============================================== */
.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
@media (max-width: 719px) {
  .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c_section {
  height: 570px;
  width: 50vw;
}
@media (max-width: 719px) {
  .c_section {
    width: 100vw;
    height: initial;
  }
}
.c_section__header {
  position: relative;
  text-align: center;
  border: 2px solid #021c1e;
  border-radius: 20px;
  padding: 1rem;
  background-color: #ffe14c;
  height: 70px;
  letter-spacing: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 719px) {
  .c_section__header {
    height: 50px;
  }
}
.c_section__header:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #9b87a9;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.c_section__headerTitle {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1000px) {
  .c_section__headerTitle {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

/* ===============================================
# カード
=============================================== */
.c_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
}
@media (max-width: 719px) {
  .c_cards {
    height: initial;
  }
}
.c_cards .c_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}
.c_cards .c_card__link {
  display: block;
  text-decoration: none;
}
.c_cards .c_card__link .img-wrapper {
  border: 2px solid #021c1e;
  border-radius: 20px;
  width: 25vw;
  height: 180px;
}
@media (min-width: 1000px) {
  .c_cards .c_card__link .img-wrapper {
    overflow: hidden;
  }
  .c_cards .c_card__link .img-wrapper img {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
@media (min-width: 1000px) {
  .c_cards .c_card__link .img-wrapper:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 719px) {
  .c_cards .c_card__link .img-wrapper {
    width: 50vw;
  }
}
.c_cards .c_card__link .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.c_cards .c_card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2px;
}
.c_cards .c_card__body span {
  font-size: 12px;
  font-size: 0.75rem;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  background-color: #85ff59;
  word-break: keep-all;
}
@media (max-width: 719px) {
  .c_cards .c_card__body span {
    font-size: 9px;
    font-size: 0.5625rem;
  }
}
.c_cards .c_card__body time {
  font-size: 12px;
  font-size: 0.75rem;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  background-color: #C1D8AC;
}
@media (max-width: 719px) {
  .c_cards .c_card__body time {
    font-size: 8px;
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}
.c_cards .c_card__title {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  background-color: #fffef2;
  border: 2px solid #021c1e;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  word-break: keep-all;
}
@media (max-width: 719px) {
  .c_cards .c_card__title {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.c_cards .c_card__price {
  line-height: 1;
  color: #006D4D;
  text-align: right;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #C6D166;
  border: 2px solid #021c1e;
  border-radius: 20px;
  border-top: 1px;
  padding: 0.5rem 1rem;
}

/* ===============================================
# シーズン
=============================================== */
.seasonal .c_section__header {
  background-color: #f7d9d2;
}
.seasonal .c_cards__item {
  position: relative;
  position: relative;
}
.seasonal .c_cards__item:hover .c_card__body {
  display: block;
}
.seasonal .c_cards__item .c_card__body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
}
@media (max-width: 719px) {
  .seasonal .c_cards__item .c_card__body {
    display: block;
  }
}
@media (min-width: 1000px) {
  .seasonal .c_cards__item {
    overflow: hidden;
  }
  .seasonal .c_cards__item img {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
@media (min-width: 1000px) {
  .seasonal .c_cards__item:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.seasonal .c_cards__item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #021c1e;
  border-radius: 20px;
  width: 25vw;
}
@media (max-width: 719px) {
  .seasonal .c_cards__item img {
    width: 50vw;
  }
}

/* ===============================================
# アバウト
=============================================== */
.about {
  height: 500px;
}
@media (max-width: 719px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about .contact {
  width: 40vw;
}
.about .contact .c_cards__item {
  width: 40vw;
  height: 330px;
  background-color: #85ff59;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
.about .contact .c_cards__item:hover {
  background-color: #ef7096;
}
.about .contact .c_cards__item img {
  width: 10vw;
}
@media (max-width: 719px) {
  .about .contact .c_cards__item img {
    width: 20vw;
  }
}
.about .contact .c_cards__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 719px) {
  .about .contact .c_cards__item {
    height: 350px;
  }
}
.about .contact .brank {
  position: relative;
  height: 100px;
  width: 40vw;
  background-color: transparent;
}
.about .contact .brank:before {
  content: "板橋区にあります。";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #36E193;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.3rem;
}
.about .access {
  width: 60vw;
  height: 500px;
}
.about .access .c_section__header {
  background-color: #006D4D;
  color: #fffef2;
}
.about .access .map {
  position: relative;
  width: 60vw;
  height: 430px;
  margin: 0 auto;
}
.about .access .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 59.8vw;
  height: 430px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 1px #021c1e;
          box-shadow: 0 0 0 1px #021c1e;
}
@media (max-width: 719px) {
  .about .access .map iframe {
    height: 450px;
  }
}

/* ===============================================
# コラム
=============================================== */
.column {
  height: 370px;
}
@media (max-width: 719px) {
  .column {
    height: 350px;
  }
}
.column .c_section {
  width: 100vw;
  overflow: hidden;
}
.column .c_section__header {
  background-color: #36E193;
}
.column .c_section .c_card__title {
  word-break: break-all;
}
.column .c_section .c_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 100px;
}
@media (max-width: 719px) {
  .column .c_section .c_cards {
    grid-template-columns: repeat(3, 1fr) 50px;
  }
}
.column .c_section .c_cards img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 20px;
}
.column .c_section .c_cards img:nth-last-child(1) {
  -o-object-fit: contain;
     object-fit: contain;
}
.column .c_section .c_cards__item {
  display: block;
  height: 300px;
  border: 2px solid #021c1e;
  border-radius: 20px;
  position: relative;
}
@media (min-width: 1000px) {
  .column .c_section .c_cards__item {
    overflow: hidden;
  }
  .column .c_section .c_cards__item img {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
@media (min-width: 1000px) {
  .column .c_section .c_cards__item:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.column .c_section .c_cards__item:hover .c_card__body {
  display: block;
}
.column .c_section .c_cards__item .c_card__body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
}
@media (max-width: 719px) {
  .column .c_section .c_cards__item .c_card__body {
    display: block;
  }
}
.column .c_section .c_cards__item:nth-last-child(1) {
  background-color: #0FAA4D;
}
.column .c_section .c_cards__item:nth-last-child(1):hover {
  background-color: #ef7096;
}

/* ===============================================
# カテゴリー・ニュース
=============================================== */
.c_category {
  height: 1570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 719px) {
  .c_category {
    height: 1070px;
  }
}
.c_category .category {
  width: 20vw;
}
.c_category .category .c_section__header {
  background-color: #85ff59;
}
.c_category .category .c_section__header h2 {
  letter-spacing: 0.1rem;
}
@media (max-width: 719px) {
  .c_category .category .c_section__header h2 {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.c_category .category .c_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1500px;
}
@media (max-width: 719px) {
  .c_category .category .c_cards {
    height: 1000px;
  }
}
.c_category .category .c_cards__item {
  width: 20vw;
  position: relative;
  position: relative;
}
.c_category .category .c_cards__item:hover .c_card__body {
  display: block;
}
.c_category .category .c_cards__item .c_card__body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
}
@media (max-width: 719px) {
  .c_category .category .c_cards__item .c_card__body {
    display: block;
  }
}
.c_category .category .c_cards__item:hover {
  -webkit-animation: guruguru 3s linear infinite;
          animation: guruguru 3s linear infinite;
}
@-webkit-keyframes guruguru {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes guruguru {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.c_category .category .c_cards__item img {
  display: block;
  width: 20vw;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
  border: 2px solid #021c1e;
}
@media (max-width: 719px) {
  .c_category .category .c_cards__item img {
    height: 200px;
  }
}
.c_category .category .c_cards__item p {
  position: absolute;
  word-break: keep-all;
  top: 85%;
  left: 50%;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffe14c;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  border: 1px solid #021c1e;
}
@media (max-width: 719px) {
  .c_category .category .c_cards__item p {
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 0.5rem;
  }
}
.c_category .news {
  width: 80vw;
}
.c_category .news .c_card__title {
  word-wrap: break-word;
}
.c_category .news .c_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 1500px;
}
@media (max-width: 719px) {
  .c_category .news .c_cards {
    height: 1000px;
  }
}
.c_category .news .c_cards__item {
  position: relative;
  position: relative;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
.c_category .news .c_cards__item:hover .c_card__body {
  display: block;
}
.c_category .news .c_cards__item .c_card__body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
}
@media (max-width: 719px) {
  .c_category .news .c_cards__item .c_card__body {
    display: block;
  }
}
@media (min-width: 1000px) {
  .c_category .news .c_cards__item {
    overflow: hidden;
  }
  .c_category .news .c_cards__item img {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
@media (min-width: 1000px) {
  .c_category .news .c_cards__item:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 719px) {
  .c_category .news .c_cards__item {
    border: none;
  }
}
.c_category .news .c_cards__item:nth-child(1) {
  grid-area: 1/1/3/5;
}
.c_category .news .c_cards__item:nth-child(2) {
  grid-area: 3/1/4/3;
}
.c_category .news .c_cards__item:nth-child(3) {
  grid-area: 4/1/6/3;
}
.c_category .news .c_cards__item:nth-child(4) {
  grid-area: 3/3/6/5;
  border-radius: 50% 50% 20px 20px;
  -webkit-box-shadow: 0 0 0 1px #021c1e;
          box-shadow: 0 0 0 1px #021c1e;
}
.c_category .news .c_cards__item:nth-child(5) {
  grid-area: 6/1/7/4;
}
.c_category .news .c_cards__item:nth-child(6) {
  grid-area: 6/4/7/5;
}
.c_category .news .c_cards__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 719px) {
  .c_category .news .c_cards__item img {
    border: 2px solid #021c1e;
    border-radius: 20px;
  }
}

/* ===============================================
# 商品詳細
=============================================== */
.c_detail__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 50px 1rem 80px;
}
@media (min-width: 1000px) {
  .c_detail__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.c_detail__main {
  position: relative;
  width: 100%;
  height: auto;
}
@media (min-width: 1000px) {
  .c_detail__main {
    max-width: 600px;
  }
}
.c_detail__slide .swiper-slide {
  border: 2px solid #021c1e;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  .c_detail__slide .swiper-slide {
    height: 600px;
  }
}
.c_detail__slide .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.c_detail__slide .swiper-button-next,
.c_detail__slide .swiper-button-prev {
  width: 50px;
  height: 50px;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.c_detail__slide .swiper-button-next:hover,
.c_detail__slide .swiper-button-prev:hover {
  opacity: 0.7;
}
.c_detail__slide .swiper-button-next:hover img,
.c_detail__slide .swiper-button-prev:hover img {
  background-color: rgba(255, 255, 255, 0.01);
}
.c_detail__slide .swiper-button-next:after,
.c_detail__slide .swiper-button-prev:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/common/arrow.png) no-repeat center center/cover;
}
.c_detail__slide .swiper-button-prev {
  rotate: 180deg;
}
.c_detail__thumbs {
  display: none;
}
@media (min-width: 1000px) {
  .c_detail__thumbs {
    display: block;
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }
}
.c_detail__thumbs .swiper-container {
  width: 100%;
  height: 100%;
}
.c_detail__thumbs .swiper-slide {
  width: 100px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #021c1e;
  border-radius: 20px;
  border-radius: 15px;
}
.c_detail__thumbs .swiper-slide:first-child {
  margin-left: 0;
}
.c_detail__thumbs .swiper-slide:hover {
  cursor: pointer;
}
.c_detail__thumbs .swiper-slide img {
  width: 100px;
  height: auto;
  border-radius: 15px;
}
.c_detail__thumbs .swiper-slide-thumb-active {
  border: 3px solid #ef7096;
}
.c_detail__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  margin: 0 20px;
}
@media (min-width: 1000px) {
  .c_detail__contents {
    padding-bottom: 70px;
    padding-left: 5%;
    margin: 0 30px;
  }
}
.c_detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
}
@media (min-width: 1000px) {
  .c_detail__info {
    margin-top: 30px;
  }
}
@media (max-width: 719px) {
  .c_detail__info {
    width: 90vw;
  }
}
.c_detail__title {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
}
@media (min-width: 1000px) {
  .c_detail__title {
    font-size: 36px;
    font-size: 2.25rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 10px;
  }
}
.c_detail__sub {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 10px;
  color: #36E193;
}
@media (min-width: 1000px) {
  .c_detail__sub {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: inherit;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.c_detail__price {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: end;
  color: #C1D8AC;
}
@media (min-width: 1000px) {
  .c_detail__price {
    font-size: 24px;
    font-size: 1.5rem;
    margin-top: 50px;
  }
}
.c_detail__lead {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  margin-top: 20px;
}
@media (max-width: 719px) {
  .c_detail__lead {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media (min-width: 1000px) {
  .c_detail__lead {
    margin: 60px 0 30px;
  }
}
.c_detail__btn {
  margin-top: 24px;
  max-width: 314px;
}
@media (min-width: 1000px) {
  .c_detail__btn {
    margin: 60px 0 30px;
  }
}
.c_detail__btn .e_btn {
  width: 100%;
}

/* ===============================================
# ポイント
=============================================== */
@media (min-width: 1000px) {
  .c_point {
    background-color: #ffe14c;
  }
}
@media (min-width: 1000px) {
  .c_point__inner {
    max-width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
  }
}
.c_point__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffe14c;
}
@media (min-width: 1000px) {
  .c_point__list {
    padding: 36px 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 2px solid #021c1e;
    border-radius: 20px;
    background-color: #36E193;
  }
}
.c_point__item {
  padding: 20px;
  margin: 1rem;
}
@media (max-width: 999px) {
  .c_point__item {
    background-color: #36E193;
    border: 2px solid #021c1e;
    border-radius: 20px;
  }
}
@media (min-width: 1000px) {
  .c_point__item {
    width: 33.3333333333%;
    padding: 0 20px 58px;
  }
}
.c_point__itemTitle {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.65;
}
@media (min-width: 1000px) {
  .c_point__itemTitle {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
.c_point__itemText {
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 719px) and (max-width: 719px) {
  .c_point__itemText {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.c_cart {
  padding-top: 25px;
  margin: 0 auto;
  height: 670px;
}
.c_cart__inner {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
}
.c_cart__item {
  background-color: #fff;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
.c_cart__item + .c_cart__item {
  margin-top: 6px;
}
.c_cart__itemLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-decoration: none;
}
.c_cart__itemThumb {
  width: 90px;
  height: 90px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px solid #021c1e;
  border-radius: 20px;
  border-radius: 10px;
  border: 2px solid #ffe14c;
}
.c_cart__itemThumb img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: inherit;
  height: 100%;
  width: 100%;
}
.c_cart__itemBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.c_cart__itemPrice {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: end;
}
.c_cart__price {
  margin: 20px;
}
@media (min-width: 1000px) {
  .c_cart__price {
    margin: 30px 0 0;
  }
}
.c_cart__priceItem {
  font-weight: bold;
  line-height: 1;
  text-align: end;
  font-size: 30px;
  font-size: 1.875rem;
}
.c_cart__priceItem + .c_cart__priceItem {
  margin-top: 16px;
}
@media (min-width: 1000px) {
  .c_cart__priceItem + .c_cart__priceItem {
    margin-top: 20px;
  }
}
.c_cart__priceText {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 10px;
  font-weight: normal;
}

.c_memberLogin {
  padding-top: 40px;
  margin: 0 auto;
}
.c_form {
  margin: 2rem 0;
}
@media (min-width: 1000px) {
  .c_form {
    width: 400px;
    margin: 60px auto 0;
  }
}
.c_form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.c_form__group + .c_form__group {
  margin-top: 34px;
}
.c_form__label {
  margin-bottom: 8px;
  font-weight: bold;
}
.c_form input[type=text],
.c_form input[type=password] {
  padding: 12px 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0px;
}
.c_form input[type=text]::-webkit-input-placeholder, .c_form input[type=password]::-webkit-input-placeholder {
  color: #666;
}
.c_form input[type=text]::-moz-placeholder, .c_form input[type=password]::-moz-placeholder {
  color: #666;
}
.c_form input[type=text]:-ms-input-placeholder, .c_form input[type=password]:-ms-input-placeholder {
  color: #666;
}
.c_form input[type=text]::-ms-input-placeholder, .c_form input[type=password]::-ms-input-placeholder {
  color: #666;
}
.c_form input[type=text]::placeholder,
.c_form input[type=password]::placeholder {
  color: #666;
}
.c_form button {
  margin: 0 auto;
  margin-top: 2rem;
}

.page .c_section {
  width: 100vw;
  height: initial;
}
.page .c_card__body {
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  border-radius: 20px;
  padding-top: 1rem;
}
.page .c_card__body h3 {
  font-size: 30px;
  font-size: 1.875rem;
  padding: 1.5rem 0 1rem;
}
.page .c_card img {
  width: 100vw;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
.page .c_card .sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  background-color: #36E193;
  padding: 0.8rem 0;
}
.page .c_card .text-wrapper {
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  padding-bottom: 30px;
}
.page .c_card__text {
  padding: 1rem;
}
.page .c_card__textTitle {
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  display: inline-block;
  margin: 0.5rem 0;
  background-color: #C6D166;
}

.archive .c_section {
  width: 100vw;
}
.archive .c_section .c_cards {
  padding-bottom: 30px;
}
.archive .c_section .c_card__body {
  display: block;
}

.about-page {
  height: initial;
}
.about-page .l_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 818px;
}
@media (max-width: 719px) {
  .about-page .l_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-page .section-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-page .shop {
  width: 40vw;
}
.about-page .address {
  width: 60vw;
  height: 316px;
}
.about-page .address h3,
.about-page .address dl {
  background-color: #fffef2;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #021c1e;
  padding: 1rem 2rem;
}
.about-page .address h3 {
  text-align: center;
  background-color: #f7d9d2;
}
.about-page img {
  border: 2px solid #021c1e;
  border-radius: 20px;
}
.about-page .access {
  width: 60vw;
}
.about-page .c_cards__item .map {
  height: 430px;
}
.about-page .c_cards__item .map iframe {
  width: 60vw;
  height: 430px;
  border: 2px solid #021c1e;
  border-radius: 20px;
}
@media (max-width: 719px) {
  .about-page .c_cards__item .map iframe {
    width: 99vw;
    margin-left: -20vw;
  }
}
.about-page .c_cards__item img {
  height: 748px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40vw;
}
@media (max-width: 719px) {
  .about-page .c_cards__item img {
    height: 300px;
  }
}
@media (max-width: 719px) {
  .about-page .c_section {
    width: 100vw;
  }
  .about-page .c_section img {
    width: 100vw;
  }
}

a.e_btn,
button.e_btn,
input.e_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 52px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 24px;
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 1000px) {
  a.e_btn,
  button.e_btn,
  input.e_btn {
    padding: 0 70px;
  }
}
a.e_btn + a.e_btn,
a.e_btn + button.e_btn,
a.e_btn + input.e_btn,
button.e_btn + a.e_btn,
button.e_btn + button.e_btn,
button.e_btn + input.e_btn,
input.e_btn + a.e_btn,
input.e_btn + button.e_btn,
input.e_btn + input.e_btn {
  margin-left: 10px;
}
a.e_btn.white,
button.e_btn.white,
input.e_btn.white {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
a.e_btn.white:hover,
button.e_btn.white:hover,
input.e_btn.white:hover {
  color: #fff;
  background-color: #000;
}
a.e_btn_white-ol,
button.e_btn_white-ol,
input.e_btn_white-ol {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
a.e_btn.brown,
button.e_btn.brown,
input.e_btn.brown {
  background-color: #021c1e;
  color: #fff;
  border: 1px solid #021c1e;
}
a.e_btn.brown:hover,
button.e_btn.brown:hover,
input.e_btn.brown:hover {
  color: #021c1e;
  background-color: #fff;
}

.e_btnWrap__note {
  text-align: center;
  margin-top: 0.5rem;
}/*# sourceMappingURL=style.css.map */