$sp320: 320px;
$mobile: 720px;
$desktop: 1000px;
$wide: 1280px;
$full: 1440px;

$color_primary: #021c1e;
$color_secondary: #004445;
$color_bg: #ebe9e4;
$color_bg_dark: #a18f67;
$color_border: #ebe9e4;
$white: #fffef2;
$pink: #f7d9d2;
$magenta: #ef7096;
$blue: #33878B;
$yellow: #ffe14c;
$green01: #36E193;
$green02: #0FAA4D;
$green03: #006D4D;
$green04: #C1D8AC;
$green05: #C6D166;
$color_accent: #85ff59;